:root {
    --babyblue: rgb(105, 179, 240);
    --offwhite: rgb(227, 252, 255);
    --darkblue: rgb(4, 32, 68);
    --bluegrey: rgb(34, 41, 49);
}

body {
    background-color: var(--bluegrey);
}

.header {
    overflow: hidden;
    background-color: var(--bluegrey);
    padding: 30px
  }

  .header a {
    float: left;
    color: var(--babyblue);
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
  }

  .header a.title {
    font-size: 40px;
    font-weight: bold;
    color: var(--babyblue);
    text-decoration: none;
  }

  .header-right {
    float: right;
  }

  .profile-example{
    width: 100%;
    height: 125px;
    background-color: var(--babyblue);
  }

  .jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--babyblue);
  }

  .about-me {
      padding: 40px;
  }

  .footer {
      background-color: var(--bluegrey);
      color: var(--babyblue);
  }

  .container{
      background-color: var(--bluegrey);
      padding: 20px;
  }
 